In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
def f(x):
    return x*x
L = map(f,l)
list(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
r = []
for n in l:
    r.append(n*n)
r

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
list(map(str, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [5]:
'''
reduce把一个函数作用在一个序列[x1, x2, x3, ...]上，
这个函数必须接收两个参数，reduce把结果继续和序列的下一
个元素做累积计算
'''

'\nreduce把一个函数作用在一个序列[x1, x2, x3, ...]上，\n这个函数必须接收两个参数，reduce把结果继续和序列的下一\n个元素做累积计算\n'

In [10]:
from functools import reduce
def add(x1,x2):
    return x1+x2
y = reduce(add,[1,2,3,4,5,6,7,8,9,10])
y

55

In [11]:
sum([1,2,3])

6

In [12]:
from functools import reduce
def product(x,y):
    return x*10+y
reduce(product,[1,2,3,4,5,6,7,8,9,10])

1234567900

In [17]:
from functools import reduce

DIGITS = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

def str2int(s):
    def fn(x, y):
        return x * 10 + y
    def char2num(s):
        return DIGITS[s]
    return reduce(fn, map(char2num, s))

In [18]:
from functools import reduce

DIGITS = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

def char2num(s):
    return DIGITS[s]

def str2int(s):
    return reduce(lambda x, y: x * 10 + y, map(char2num, s))

In [19]:
def normalize(name):
    return name[0].upper() + name[1:len(name)].lower()
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [24]:
from functools import reduce
def str2float(s):
    DIGITS = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}
    slist = s.split('.')
    def fn(x,y):
        return x*10 + y
    def char2num(s):
        return DIGITS[s]
    return reduce(fn, map(char2num, slist[0])) + reduce(fn, map(char2num, slist[1]))*(10**(0 - len(slist[1])))
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

In [25]:
def is_odd(n):
    return n % 2 == 1
list(filter(is_odd,[1,2,3,4,5,6,7,8,9,10]))

[1, 3, 5, 7, 9]

In [4]:
def not_empty(s):
    return s and s.strip('A ')
list(filter(not_empty, ['A', '', 'B', None, 'C', '  ']))

['B', 'C']

In [11]:
def _odd_iter():
    n = 1
    while True:
        n = n + 2
        yield n

In [15]:
def _not_divisible(n):
    return lambda x: x % n > 0

In [16]:
def primes():
    yield 2
    it = _odd_iter() # 初始序列
    while True:
        n = next(it) # 返回序列的第一个数
        yield n
        it = filter(_not_divisible(n), it) # 构造新序列

In [17]:
# 打印1000以内的素数:
for n in primes():
    if n < 100:
        print(n)
    else:
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [10]:
def is_palindrome_1(n):
      return str(n)==str(n)[::-1]# 利用切片，把字符串倒过来
output = filter(is_palindrome_1, range(1, 1000))
print(list(output))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [18]:
sorted([36, 5, -12, 9, -21], key=abs)

[5, 9, -12, -21, 36]

In [19]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [23]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88),('Henry',100)]
def by_name(t):
    return t[0].lower()
def by_score(t):
    return t[1]
L2 = sorted(L, key=by_name)
L3 = sorted(L, key=by_score)
print(L2)
print(L3)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Henry', 100), ('Lisa', 88)]
[('Bart', 66), ('Bob', 75), ('Lisa', 88), ('Adam', 92), ('Henry', 100)]